/* Universal */

html {
  font-size: 16px;
  font-family: arsenica-variable, sans-serif;
}

body {
  margin: 0;
}

/* Header */

header h5 {
  text-align: center;
  font-size: 0.9em;
  font-weight: 500;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background-color: black;
  color: white;
}

header h1 {
  font-family: mason-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  margin: 0;
}

h1 a {
  color: black;
}

h1 a:hover {
  color: #8C00B3;
}


nav {
  text-align: center;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  vertical-align: middle;
}

nav li a {
  text-decoration: none;
}

nav li a:hover {
  color: #C864FF;
}

.navlink {
  padding: 0 3%;
}

.navlink a {
  color: #8C00B3;
}

/* Promotion */

#promotion {
  background-image: url("../images/promotion_header.jpg");
  background-size: 100%;
  background-position: center;
  height: 600px;
  margin: 0;
  padding: 0;
  border-top: 2px black solid;
  border-bottom: 2px black solid;
}

#promotion h3 {
  font-family: mason-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5em;
  color: #FFF0FF;
  padding: 10% 0 0 10%;
  margin: 0;
}

#promotion button {
  font-family: arsenica-variable, sans-serif;
  font-size: 1.2em;
  background-color: #451D4C;
  padding: 1rem 6rem;
  border-radius: 5px;
  border: none;
  position: absolute;
  bottom: 3%;
  left: 40%;
  text-align: center;
}

#promotion button:hover {
  background-color: white;
  color: #451D4C;
  box-shadow:0px 0px 0px 2px #451D4C inset;
}

button a {
  text-decoration: none;
  color: white;
}

button:hover a {
  color: #451D4C;
}

/* Main Section */

main {
  display: flex;
  align-content: center;
  width: 100%;
  padding: 1.5rem 0;
  flex-wrap: wrap;
}

.item {
  flex: 0 1 350px;
  flex-wrap: wrap;
  margin: 0 1rem 0 1rem;
  margin: 0 auto;
}

.item img{
  display: block;
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.item h4 {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 5px 0 0;
}

.item p {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 10px;
  line-height: 1.3rem;
}

.item p a {
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.item p a:hover {
  color: #8C00B3;
}

/* Portfolio */

#portfolio h2 {
  margin: 0;
  padding-left: 1rem;
  font-family: mason-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.5rem;
  color: #451D4C;
}

#portfolio div{
  display: flex;
  flex-wrap: wrap;
}

#portfolio div img {
  flex: 1 1 300px;
}